<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      তসবি || জিকির
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div style="background-color: darkslategray; height: 600px;">
      <div>v 1.0.0</div>
      <div>বিসমিল্লাহ || আস্তাগফুরুল্লাহ</div>
      <div (click)="increment()" style="background-color: darkcyan; height: 500px; font-size: 100px;">

        <div style="padding-top: 150px;">
          <label>{{currentValue}}</label>
        </div>
      </div>
      <ion-button (click)="reset()">Reset</ion-button>
    </div>
    <div>Develoved By: MONIR (মনির)</div>


  </div>
</ion-content>
